* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #EFD9D4;           /* light tone palette */
  color: #643843;                /* warna utama gelap */
}

/* CONTAINER FULL */
.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header h2 {
  font-size: 22px;
}

.header p {
  font-size: 14px;
  color: #99627A;                /* medium mauve */
  margin-bottom: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 16px;
  border: 1px solid #E7CBCB;     /* light palette */
}

.card h3 {
  font-size: 15px;
  margin-bottom: 12px;
}

/* ROW */
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.row span {
  color: #99627A;
}

.row.total b {
  color: #643843;                /* warna utama gelap */
}

/* TIME */
.time-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.time-grid input {
  display: none;
}

.time {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #E7CBCB;
  background: white;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.time:hover {
  background: #E7CBCB;
  border-color: #643843;
}

.time-grid input:checked + .time {
  background: #C88EA7;
  border-color: #643843;
  color: #643843;
}

/* PAYMENT */
.pay {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #E7CBCB;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
}

.pay:hover {
  border-color: #643843;
  background: #E7CBCB;
}

.pay input {
  margin-top: 4px;
}

.pay p {
  font-size: 12px;
  color: #99627A;
}

.pay-active input:checked + .pay {
  background: #C88EA7;
  border-color: #643843;
  color: #643843;
}

/* FOOTER FULL */
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 15px 20px;
  border-top: 1px solid #E7CBCB;
}

.footer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer b {
  color: #643843;
}

.footer button {
  width: 100%;
  padding: 14px;
  border: none;
  background: #643843;           /* warna utama gelap */
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.footer button:hover {
  background: #99627A;
}